.main-nav {
  display: flex;
  flex-direction: column;
	background-color:#8286FF;
	margin-bottom:10px;
	margin-left:130px;
	width:200px;
	font:20px Verdana;
	border:1px solid #2814FF;
	position:fixed;

  &__item {
    border:1px solid #000000;
    background-image:url(../img/menu.jpg);
    background-repeat:repeat-x;
    cursor:pointer;
    height: 25px;
    margin: 10px 0;
  }
}
