.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    background-color:#8286FF;
    margin-bottom: 10px;
    margin-left: 0;
    font:20px Verdana;
    border:1px solid #2814FF;

    &__item {
      box-sizing: border-box;
      width: 140px;
      text-align: center;
      border:1px solid #000000;
      background-image:url(../img/menu.jpg);
      background-repeat:repeat;
      cursor:pointer;
      height: 50px;
      margin: 10px 0;
    }

    &__item:hover {
      opacity: 0.5;
      background-color: rgb(211, 24, 49);
    }

    &__item:focus {
      opacity: 0.5;
      background-color: rgb(211, 193, 36);
    }

    &__item a {
      display: inline-block;
      box-sizing: border-box ;
      text-decoration: none;
    }

    &__item a:hover {
      opacity: 0.5;
      background-color: rgb(211, 24, 49);
    }

    &__item a:focus {
      opacity: 0.5;
      background-color: rgb(211, 193, 36);
    }
  }

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
    background-color:#8286FF;
    margin-bottom:10px;
    margin-left: 0;

    font:20px Verdana;
    border:1px solid #2814FF;

    &__item {
      width: 192px;
      border:1px solid #000000;
      background-image:url(../img/menu.jpg);
      background-repeat:repeat-x;
      height: 25px;
      margin: 10px 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color:#8286FF;
    margin-top: 10px;
    margin-left: -200px;
    width:200px;
    font:20px Verdana;
    border:1px solid #2814FF;

    &__item {
      border:1px solid #000000;
      width: 200px;
      background-image:url(../img/menu.jpg);
      background-repeat:repeat-x;
      cursor:pointer;
      height: 25px;
      margin: 10px 0;
    }
  }
}
