.main-head {
    height:74px;
    background-color:#D773FF;
    margin-bottom:12px;
    background-image:url("../img/head_astro.jpg");
    background-repeat:repeat-x;
    font:14px segoe script;
    text-align:center;
    vertical-align:center;
    padding-top:3px;

    &__caption {
      margin: 0;
      padding-top: 10px;
      padding-left: 10px;
      vertical-align: center;
    }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .main-head {
    height:74px;
    background-color:#D773FF;
    margin-bottom:12px;
    background-image:url("../img/head_astro.jpg");
    background-repeat:repeat-x;
    font:20px segoe script;
    text-align:center;
    vertical-align:center;
    padding-top:3px;
  }
}

@media (min-width: @desktop-width) {
  .main-head {
    font:20px segoe script;
  }
}
