.page-footer {
  position: relative;
  width: 1200px;
  height:83px;
	background-color:#4B5DFF;
	margin-top:30px;
	margin-bottom:12px;
  background-image:url(../img/astrostrip.jpg);
  background-repeat: no-repeat;
  bottom: 150px;
  left: 340px;
}
