@media (max-width: @tablet-width) {
  .sidebar-right {
    display: none;
  }
}

  @media (min-width: @desktop-width) {
    .sidebar-right {
      display: block;
      width:200px;
      background-image:url("../img/AstroR.png");
      background-repeat:repeat-y;
    }
  }
