@media (max-width: @tablet-width) {
  .table-date {
    border: 1px solid #cccccc;
    text-align:center;
    width: 270px;
    border-collapse:collapse;
    margin: 0;
    float:center;
    padding: 0;

    td, th {
      vertical-align:middle;
      height: 15px;
      padding: 5px;
      border: 1px solid #cccccc;
      text-align:center;
    }
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .table-date {
    border: 1px solid #cccccc;
    text-align:center;
    width: 500px;
    border-collapse:collapse;
    margin: 25px auto;
    float:center;
    padding:10px;

    td, th {
      vertical-align:middle;
      height:30px;
      padding:5px;
      border: 1px solid #cccccc;
      text-align:center;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width:1200px;
  }
}
